<footer class="custom-footer">
    <p class="footer-title">VetTrack &copy; 2025
    </p>
    <p class="footer-names"> Developed By: Felipe Lopez Ordaz, Achsah Jojo, Samuel Jacobs, Athena Lopez</p>
</footer>