</main>
<footer class = "footer">
    <div class="footer-text">
        <p>VetTrack 2025</p>
        <p>CST336 Internet Programming. 2025© Felipe Lopez Ordaz, Achsah Jojo, Samuel Jacobs, Athena Lopez</p>

    </div>
</footer>
</body>
</html>