<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vetrack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Add Visits</h1>

    <%- include('partials/navbar') %>

    <div class="center-container">
        <div class="form-wrapper">

    <form method="POST" action="/addVisits">
    Animal:
    <select name="animal">
        <% for(let animal of animals) { %>
           <option value=<%= animal.animal_id %>>     <%=animal.name%>  </option>
        <% } %>
    </select>
    <br><br>
    Date:
    <input type="date" name="date">
    <br><br>
    Reason for Visit:
    <textarea name="reason"></textarea>
    <br><br>
    <button>Submit</button>
    </form>

</div>
</div>
    <%- include('partials/footer') %>
</body>
</html>