<%- include("partials/header") %>

<h1>Dashboard</h1>



<nav>
    <a href="/add-animal">Add an Animal</a>
    <a href="/animal-profile"> Animal Profile</a>
    <a href="logout">Logout</a>
</nav>



<%-include("partials/footer") %>4