<%- include("partials/header") %>

    <div class="container">
        <h1>Welcome to VetTrack!</h1>
        <p>Your veterinary clinic's one-stop animal record managment system.</p>

        <div id="fun-fact">
            <!--Animal fun fact fethed from  an API-->
            <em>Loading Animal fun fact...</em>
        </div>

        <div class="nav-links">
            <a href="/login">Login</a> |
            <a href="/signup">Sign Up</a>
        </div>
    </div>

    <%-include("partials/footer") %>